body, html, #map {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

#footer-div {
    color: white;
}

#index-icon {

    width: 500px;
    height: 550px;
}

.index-container {
    padding: 15px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.menu-divs {

    height: 500px;
    width: 50%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-container {
    display: flex;
    align-items: stretch;
}

.profile-div {

    justify-content: flex-start;
}

#profile-icon {

    width: 400px;
    height: 500px;

}

.reg-success-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#reg-success-icon  {

    width: 300px;
    height: 350px;
}

#icon-style {

    width: 300px;
    height: 350px;
}

.msg {
    font-size: 20px;
}

.map-container {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

#map {
    height: 645px;
    position: relative;
}

/*footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/

.prayer-times {

    width: 700px;
    height: 600px;
    border: 3px solid black;
}

#button-colors {
    background-color: gold;
    color: white;
}

#button-colors:hover {

    background-color: coral;
}