{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}New User Registration{% endblock %}</title>
</head>
<body>
        <nav class="navbar navbar-expand-md bg-info navbar-dark">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                       <a class="navbar-brand" href="#">Find a Mosque</a>
                  </li>
              </ul>
        </nav>

        {% load crispy_forms_tags %}
        <div class="container py-5">
            <h1 class="text-center">New User Registration</h1>
            <form method="post" action="{% url 'mosques_near_me:register_user' %}">
                {% csrf_token %}
                {{ signup_form|crispy }}
                <button type="submit" class="btn" id="button-colors">Register</button>
            </form>
            <p class="text-center">Already have an account? <a href="{% url 'mosques_near_me:login' %}">Login Here</a></p>
        </div>
    {% endblock %}
</body>
</html>