{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Successful Registration{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
        <nav class="navbar navbar-expand-md bg-info navbar-dark">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                       <a class="navbar-brand" href="#">Find a Mosque</a>
                  </li>

              </ul>
        </nav>
        <div class="reg-success-container">
{#            <img src="{% static 'images/reg-success.png' %}" alt="green tick in a circle" id="reg-success-icon">#}
            <p class="text-center m-3">You have successfully registered as a new user.
                Login now to start using the locator web app</p>
            <a href="{% url 'mosques_near_me:login' %}" class="btn" role="button" aria-pressed="true" id="button-colors">Login Here</a>
        </div>
    {% endblock %}
</body>
</html>