{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Mosques Near Me{% endblock %}</title>
</head>
<body>
     <nav class="navbar navbar-expand-md bg-info navbar-dark">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                   <a class="navbar-brand" href="#">Find a Mosque</a>
              </li>

          </ul>
     </nav>

        <h1 class="text-center">Mosques Near Me</h1>
        <div class="index-container">
            <img src="{% static 'images/mosque.png' %}" alt="map image" id="index-icon"/>
        </div>

        <div class="index-btn-container">
            <a href="{% url 'mosques_near_me:login' %}" class="ml-3 btn btn-lg active" role="button" aria-pressed="true" id="button-colors">Login</a>
            <a href="{% url 'mosques_near_me:register_user' %}" class="ml-3 btn btn-lg active" role="button" aria-pressed="true" id="button-colors">Register</a>
        </div>

    {% endblock %}
</body>
</html>