{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prayer Times</title>
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-md bg-info navbar-dark">
      <ul class="navbar-nav mr-auto">
         {% if user.is_authenticated %}
          <a class="navbar-brand" href="#">Find a Mosque</a>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'mosques_near_me:map' %}">View Map</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="{% url 'mosques_near_me:prayertimes' %}">Prayer Times</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="{% url 'mosques_near_me:profile' %}">User Profile</a>
             </li>
             </ul>
             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link disabled" href="#" >Hello {{user.username}}!</a>
                </li>

                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:logout' %}">Log Out</a>
                 </li>
             </ul>
         {% else %}
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mosques_near_me:login' %}">Login</a>
             </li>
         {% endif %}
      </ul>
    </nav>
    {% endblock %}

    {% block content %}
        <h2 class="text-center m-3">Prayer Times</h2>

        <div class="div-container">
            <div class="menu-divs">
               <img src="{% static 'images/prayer-mat.png' %}" alt="prayer-mat"/>
            </div>

            <div class="menu-divs">
              <iframe style="width: 500px; height: 400px; border: 1px solid #ddd;" src="https://www.islamicfinder.org/prayer-widget/"> </iframe>
            </div>

        </div>
    {% endblock content %}
</body>
</html>