{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-info navbar-dark">
      <ul class="navbar-nav mr-auto">
         {% if user.is_authenticated %}
          <a class="navbar-brand" href="#">Find a Mosque</a>

             <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:menu' %}">Menu</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="{% url 'mosques_near_me:map' %}">Find Mosque</a>
             </li>

             <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:prayertimes' %}">Prayer Times</a>
             </li>

             <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:profile' %}">User Profile</a>
             </li>

             </ul>
             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link disabled" href="#" >Hello {{user.username}}!</a>
                </li>

                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:logout' %}">Log Out</a>
                 </li>
             </ul>
         {% else %}
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mosques_near_me:login' %}">Login</a>
             </li>
         {% endif %}
      </ul>
    </nav>

        <h2 class="text-center m-3">Your Profile</h2>

        <div class="div-container">
            <div class="menu-divs">
               <img src="{% static 'images/avatar.png' %}" alt="profile picture place holder image" id="profile-icon"/>
                <p class="msg">Username: {{user.username}}</p>
            </div>

        <div class="menu-divs">
               <h5>Your Favourite Mosques:</h5>
                <ul>
                {% for mosque in favourite_mosques %}
                    <li>{{ mosque.mosque_name }}</li>
                    {% empty %}
                    <p>You don't have any mosques added to your favourites yet!</p>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock content %}
</body>
</html>