{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
    <title>{% block title %}Map Page{% endblock %}</title>
</head>
<body>
     <nav class="navbar navbar-expand-md bg-info navbar-dark">
      <ul class="navbar-nav mr-auto">
         {% if user.is_authenticated %}
          <a class="navbar-brand" href="#">Find a Mosque</a>

             <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:menu' %}">Menu</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="{% url 'mosques_near_me:map' %}">Find Mosque</a>
             </li>

             <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:prayertimes' %}">Prayer Times</a>
             </li>

             <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:profile' %}">User Profile</a>
             </li>

             </ul>
             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link disabled" href="#" >Hello {{user.username}}!</a>
                </li>

                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'mosques_near_me:logout' %}">Log Out</a>
                 </li>
             </ul>
         {% else %}
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mosques_near_me:login' %}">Login</a>
             </li>
         {% endif %}
      </ul>
    </nav>

        <h3 class="text-center m-3">Your Location & Nearby Mosques</h3>

        <form method="post" action="{% url 'mosques_near_me:update_location' %}">
            {% csrf_token %}
        </form>

        <div id='map'></div>

        <script>
            let mosque_name = "";
            let mosque_address = "";
            let mosque_lat;
            let mosque_long;
            let userLat;
            let userLong;

            map = L.map('map', {doubleClickZoom: false}).locate({setView: true, maxZoom: 16});
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(map);

            function onLocationFound(e) {

                let radius = e.accuracy;
                let lat = e.latlng.lat;
                let long  = e.latlng.lng;
                let location = e.latlng.lat + ", " + e.latlng.lng;

                L.marker(e.latlng).addTo(map)
                .bindPopup("Your Location: \n\nLat: " + lat + ", Long: " + long).openPopup();

                 L.circle(e.latlng, radius).addTo(map);

                userLat = lat;
                userLong = long;
                updateLocation(location);
                findMosque();
            }

            map.on('locationfound', onLocationFound);

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function updateLocation(location) {

                console.log("In updatelocation(): " + location);
                let csrftoken = getCookie('csrftoken');

                $.ajax({
                    type: 'POST',
                    headers: {

                        'X-CSRFToken': csrftoken
                    },
                    url: '{% url 'mosques_near_me:update_location' %}',
                    data: {

                        userlocation: location
                    }
                }).done(function (data, status, xhr) {
                    console.log(data["message"])
                    {#let originalMsg = $(".toast-body").html();#}
                    {#$(".toast-body").html(originalMsg + "<br/>Updateddatabase<br/>" + data["message"]);#}
                }).fail(function (xhr, status, error) {
                    console.log(error);
                    {#let originalMsg = $(".toast-body").html();#}
                    {#$(".toast-body").html(originalMsg + "<br/>" + error);#}
                }).always(function () {
                    console.log("updateLocation() finished");
                    $(".toast").toast('show');
                });

            }

            // finding a mosque
            function findMosque() {
                console.log("In findMosque(): ");
                let csrftoken = getCookie('csrftoken');

                let bbox = map.getBounds().toBBoxString()
                console.log("bbox: " + bbox);

                $.ajax({
                    type: "POST",
                    url: '{% url 'mosques_near_me:findmosques' %}',
                    headers: {

                        'X-CSRFToken': csrftoken
                    },
                    data: {

                        bbox: map.getBounds().toBBoxString()
                    }
                }).done(function (data, status, xhr) {

                    console.log(data);

                    let markerStyle = {
                        radius: 20,
                        fillColor: "purple",
                        color: "purple",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.5
                    }

                    // Handle GeoJSON response from the server
                    let geoJsonLayer = L.geoJson(data, {

                        pointToLayer: function (feature, latlng) {
                            let marker = L.circleMarker(latlng, markerStyle);
                            mosque_name = feature.properties.name
                            mosque_address = "" + feature.properties["addr:city"]
                            mosque_lat = "" + feature.geometry.coordinates[0]
                            mosque_long = "" + feature.geometry.coordinates[1]
                            marker.bindPopup("<h6>Mosque: </h6>" + "Name: " + mosque_name + "<br/>City: " + mosque_address + "<br/>" +
                            '<br/><button id="add-favs" class="btn btn-primary bg-info" onclick=addToFavourites() ' +
                                'type="submit">Add to Favourites</button></br></br><button class="btn btn-primary bg-info" onclick=viewPath()>View Path</button>')
                            return marker
                        },
                    }).addTo(map);

                    map.addLayer(geoJsonLayer);

                }).fail(function (xhr, status, error) {
                    var message = "OSM Overpass query failed.<br/>";
                    console.log("Status: " + xhr.status + " " + xhr.responseText);
                    {#showOkAlert(message);#}
                }).always(function () {
                    {#toggleCentredSpinner("hide");#}
                });
            }

            // adding mosque to favourites
            function addToFavourites() {

                console.log("inside addToFavourites() " + mosque_name + " " + mosque_address + " lat " + mosque_lat + " long " + mosque_long);
                let csrftoken = getCookie('csrftoken');

                $.ajax({
                    type: 'POST',
                    headers: {

                        'X-CSRFToken': csrftoken
                    },
                    url: '{% url 'mosques_near_me:favouriteMosque' %}',
                    data: {

                        mosqueName: mosque_name,
                        mosqueCity: mosque_address,
                        lat: mosque_lat,
                        long: mosque_long
                    }
                }).done(function (data, status, xhr) {
                    console.log(data["message"])

                }).fail(function (xhr, status, error) {
                    console.log(error);

                }).always(function () {
                    console.log("addToFavourites() finished");
                });

            }

            {#viewPath()#}

            function viewPath() {
                console.log("Inside viewPath")
                console.log("User: " + userLat + " " + userLong + " " + mosque_lat + " " + mosque_long)

                L.Routing.control({
                   waypoints: [
                       L.latLng(userLat, userLong), // users location
                       L.latLng(mosque_long, mosque_lat)  // the mosque clicked on location
                   ],
                    routeWhileDragging: false
                }).addTo(map);
            }
        </script>
{% endblock %}
</body>
</html>